[data-theme=dark] {
  --p-background-primary:#05050F;
  --p-background-secondary:#191932;
  --p-background-tertiary:#1B1F3C;
  --p-background-gray:#F5f5f5;
  --p-transparent:transparent;
  --p-note:#FFB4001A;
  --p-banner-main:#FFFFFF;
  --p-banner-shade:#FFFFFF;
  --p-banner-tint:#FFFFFF;
  --p-undefined:transparent;
  --p-none:transparent;
  --p-primary-main:#0375f8;
  --p-primary-shade:#004fc2;
  --p-primary-tint:#4B96FC;
  --p-primary-low:#0a0e25;
  --p-primary-low-shade:#0AE25;
  --p-primary-contrast:#FFFFFF;
  --p-primary-outline-border:#0375f8;
  --p-secondary-main:#ECEEF4;
  --p-secondary-shade:#FFFFFF;
  --p-secondary-tint:#C7C8D7;
  --p-secondary-low:#0A0E25;
  --p-secondary-low-shade:#191932;
  --p-secondary-contrast:#000000;
  --p-secondary-outline-border:#2F2F5A;
  --p-error-main:#ED3A37;
  --p-error-shade:#BF2B2B;
  --p-error-tint:#F46360;
  --p-error-low:#FEE9E8;
  --p-error-low-shade:var(--p-undefined);
  --p-error-contrast:#FFFFFF;
  --p-error-outline-border:#FECECC;
  --p-warning-main:#DEA722;
  --p-warning-shade:#C8931E;
  --p-warning-tint:#F4C449;
  --p-warning-low:#FFF5D2;
  --p-warning-low-shade:var(--p-undefined);
  --p-warning-contrast:#FFFFFF;
  --p-warning-outline-border:#F7E199;
  --p-success-main:#32B375;
  --p-success-shade:#247951;
  --p-success-tint:#4BC88E;
  --p-success-low:#D8FFEF;
  --p-success-low-shade:var(--p-undefined);
  --p-success-contrast:#FFFFFF;
  --p-success-outline-border:#B4F1D6;
  --p-info-main:#1588F2;
  --p-info-shade:#0869C2;
  --p-info-tint:#46B0FD;
  --p-info-low:#F0F3FA;
  --p-info-low-shade:var(--p-undefined);
  --p-info-contrast:#FFFFFF;
  --p-info-outline-border:#86C7F5;
  --p-disabled-main:var(--p-gray-scale-100);
  --p-disabled-shade:var(--p-undefined);
  --p-disabled-tint:var(--p-undefined);
  --p-disabled-low:var(--p-undefined);
  --p-disabled-low-shade:var(--p-undefined);
  --p-disabled-contrast:var(--p-gray-scale-400);
  --p-disabled-outline-border:var(--p-undefined);
  --p-disabled-button-main:#E3EAFD;
  --p-disabled-button-shade:var(--p-undefined);
  --p-disabled-button-tint:var(--p-undefined);
  --p-disabled-button-low:var(--p-undefined);
  --p-disabled-button-low-shade:var(--p-undefined);
  --p-disabled-button-contrast:#95A8C5;
  --p-disabled-button-outline-border:var(--p-undefined);
  --p-basic-0:#000000;
  --p-gray-scale-50:#0A0E25;
  --p-gray-scale-100:#191932;
  --p-gray-scale-200:#1F1F42;
  --p-gray-scale-300:#2F2F5A;
  --p-gray-scale-400:#434766;
  --p-gray-scale-500:#5A5D74;
  --p-gray-scale-700:#C2C3CE;
  --p-gray-scale-900:#F3F4F7;
  --p-basic-1000:#FFFFFF;
  --p-delete:var(--p-error-main);
  --p-complement:#784AFF;
  --p-text-primary:rgba(255,255,255, 1);
  --p-text-secondary:rgba(194,195,206, 1);
  --p-text-disabled:#5a5d74;
  --p-text-primary-main:rgba(0, 0, 0, 0.38);
  --p-text-delete:var(--p-delete)
}