[data-theme=dark] {
  --p-background-primary:#181818;
  --p-background-secondary:#242424;
  --p-background-tertiary:#444444;
  --p-background-gray:#F5f5f5;
  --p-transparent:transparent;
  --p-note:#FFB4001A;
  --p-banner-main:#FFFFFF;
  --p-banner-shade:#FFFFFF;
  --p-banner-tint:#FFFFFF;
  --p-undefined:transparent;
  --p-none:transparent;
  --p-primary-main:#2283DD;
  --p-primary-shade:#006BCE;
  --p-primary-tint:#3A95E9;
  --p-primary-low:#0A0E25;
  --p-primary-low-shade:#0A0E25;
  --p-primary-contrast:#FFFFFF;
  --p-primary-outline-border:#2283DD;
  --p-secondary-main:#ECEEF4;
  --p-secondary-shade:#FFFFFF;
  --p-secondary-tint:#C7C8D7;
  --p-secondary-low:#0A0E25;
  --p-secondary-low-shade:#191932;
  --p-secondary-contrast:#000000;
  --p-secondary-outline-border:#2F2F5A;
  --p-error-main:#ED3A37;
  --p-error-shade:#BF2B2B;
  --p-error-tint:#EB5757;
  --p-error-low:#FEE9E8;
  --p-error-low-shade:var(--p-undefined);
  --p-error-contrast:#FFFFFF;
  --p-error-outline-border:#FECECC;
  --p-warning-main:#DEA722;
  --p-warning-shade:#C8931E;
  --p-warning-tint:#F4C449;
  --p-warning-low:#FFF5D2;
  --p-warning-low-shade:var(--p-undefined);
  --p-warning-contrast:#FFFFFF;
  --p-warning-outline-border:#F7E199;
  --p-success-main:#32B375;
  --p-success-shade:#247951;
  --p-success-tint:#4BC88E;
  --p-success-low:#D8FFEF;
  --p-success-low-shade:var(--p-undefined);
  --p-success-contrast:#FFFFFF;
  --p-success-outline-border:#B4F1D6;
  --p-info-main:#1588F2;
  --p-info-shade:#0869C2;
  --p-info-tint:#46B0FD;
  --p-info-low:#F0F3FA;
  --p-info-low-shade:var(--p-undefined);
  --p-info-contrast:#FFFFFF;
  --p-info-outline-border:#86C7F5;
  --p-disabled-main:var(--p-gray-scale-100);
  --p-disabled-shade:var(--p-undefined);
  --p-disabled-tint:var(--p-undefined);
  --p-disabled-low:var(--p-undefined);
  --p-disabled-low-shade:var(--p-undefined);
  --p-disabled-contrast:var(--p-gray-scale-400);
  --p-disabled-outline-border:var(--p-undefined);
  --p-disabled-button-main:#4A4A4A;
  --p-disabled-button-shade:var(--p-undefined);
  --p-disabled-button-tint:var(--p-undefined);
  --p-disabled-button-low:var(--p-undefined);
  --p-disabled-button-low-shade:var(--p-undefined);
  --p-disabled-button-contrast:#9E9E9E;
  --p-disabled-button-outline-border:var(--p-undefined);
  --p-basic-0:#181818;
  --p-gray-scale-50:#1E1E1E;
  --p-gray-scale-100:#2A2A2A;
  --p-gray-scale-200:#3A3A3A;
  --p-gray-scale-300:#545454;
  --p-gray-scale-400:#727272;
  --p-gray-scale-500:#828282;
  --p-gray-scale-700:#B3B3B3;
  --p-gray-scale-900:#E7E7E7;
  --p-basic-1000:#FFFFFF;
  --p-delete:var(--p-error-main);
  --p-complement:#784AFF;
  --p-text-primary:#FFFFFF;
  --p-text-secondary:#C3C3C3;
  --p-text-disabled:#9E9E9E;
  --p-text-primary-main:rgba(0, 0, 0, 0.38);
  --p-text-delete:var(--p-delete)
}