@import url(text.css);
@import url(theme.css);
@import url(light.css);
@import url(dark.css);

:root {
  --max-width: 1280px;
  --padding-container-x: 24px;


  @media (width >= 1000px) {
    --padding-container-x: 96px;
  }
}

body {
  font-family: var(--font-inter), sans-serif;
}