:root {
  --p-background-primary: #ffffff;
  --p-background-secondary: #ffffff;
  --p-background-tertiary: #ffffff;
  --p-background-gray: #f5f5f5;
  --p-transparent: transparent;
  --p-note: #ffb4001a;
  --p-banner-main: #ffffff;
  --p-banner-shade: #ffffff;
  --p-banner-tint: #ffffff;
  --p-undefined: transparent;
  --p-none: transparent;
  --p-primary-main: #0375f8;
  --p-primary-shade: #005fdc;
  --p-primary-tint: #4b96fc;
  --p-primary-low: #f2f5ff;
  --p-primary-low-shade: #eaeefc;
  --p-primary-contrast: #ffffff;
  --p-primary-outline-border: #0375f8;
  --p-secondary-main: #070e27;
  --p-secondary-shade: #000000;
  --p-secondary-tint: #0f193e;
  --p-secondary-low: #f5f5f5;
  --p-secondary-low-shade: #efefef;
  --p-secondary-contrast: #ffffff;
  --p-secondary-outline-border: #dddfe3;
  --p-error-main: #ed3a37;
  --p-error-shade: #bf2b2b;
  --p-error-tint: #f46360;
  --p-error-low: #fee9e8;
  --p-error-low-shade: var(--p-undefined);
  --p-error-contrast: #ffffff;
  --p-error-outline-border: #fececc;
  --p-warning-main: #dea722;
  --p-warning-shade: #c8931e;
  --p-warning-tint: #f4c449;
  --p-warning-low: #fff5d2;
  --p-warning-low-shade: var(--p-undefined);
  --p-warning-contrast: #ffffff;
  --p-warning-outline-border: #f7e199;
  --p-success-main: #32b375;
  --p-success-shade: #247951;
  --p-success-tint: #4bc88e;
  --p-success-low: #d8ffef;
  --p-success-low-shade: var(--p-undefined);
  --p-success-contrast: #ffffff;
  --p-success-outline-border: #b4f1d6;
  --p-info-main: #1588f2;
  --p-info-shade: #0869c2;
  --p-info-tint: #46b0fd;
  --p-info-low: #f0f3fa;
  --p-info-low-shade: var(--p-undefined);
  --p-info-contrast: #ffffff;
  --p-info-outline-border: #86c7f5;
  --p-disabled-main: var(--p-gray-scale-100);
  --p-disabled-shade: var(--p-undefined);
  --p-disabled-tint: var(--p-undefined);
  --p-disabled-low: var(--p-undefined);
  --p-disabled-low-shade: var(--p-undefined);
  --p-disabled-contrast: var(--p-gray-scale-400);
  --p-disabled-outline-border: var(--p-undefined);
  --p-disabled-button-main: #e3eafd;
  --p-disabled-button-shade: var(--p-undefined);
  --p-disabled-button-tint: var(--p-undefined);
  --p-disabled-button-low: var(--p-undefined);
  --p-disabled-button-low-shade: var(--p-undefined);
  --p-disabled-button-contrast: #95a8c5;
  --p-disabled-button-outline-border: var(--p-undefined);
  --p-basic-0: #ffffff;
  --p-gray-scale-50: #fafafa;
  --p-gray-scale-100: #f1f2f3;
  --p-gray-scale-200: #e6eaef;
  --p-gray-scale-300: #cbcfd8;
  --p-gray-scale-400: #aab1bc;
  --p-gray-scale-500: #818c9e;
  --p-gray-scale-700: #3b4b63;
  --p-gray-scale-900: #1c293c;
  --p-basic-1000: #101820;
  --p-delete: var(--p-error-main);
  --p-complement: #784aff;
  --p-text-primary: rgba(16, 24, 32, 1);
  --p-text-secondary: rgba(59, 75, 99, 1);
  --p-text-disabled: #818c9e;
  --p-text-primary-main: rgba(0, 0, 0, 0.38);
  --p-text-delete: var(--p-delete);
}

@media (prefers-color-scheme: dark) {
  :root {
    --p-background-primary: #05050f;
    --p-background-secondary: #191932;
    --p-background-tertiary: #1b1f3c;
    --p-background-gray: #f5f5f5;
    --p-transparent: transparent;
    --p-note: #ffb4001a;
    --p-banner-main: #ffffff;
    --p-banner-shade: #ffffff;
    --p-banner-tint: #ffffff;
    --p-undefined: transparent;
    --p-none: transparent;
    --p-primary-main: #0375f8;
    --p-primary-shade: #004fc2;
    --p-primary-tint: #4b96fc;
    --p-primary-low: #0a0e25;
    --p-primary-low-shade: #0AE25;
    --p-primary-contrast: #ffffff;
    --p-primary-outline-border: #0375f8;
    --p-secondary-main: #eceef4;
    --p-secondary-shade: #ffffff;
    --p-secondary-tint: #c7c8d7;
    --p-secondary-low: #0a0e25;
    --p-secondary-low-shade: #191932;
    --p-secondary-contrast: #000000;
    --p-secondary-outline-border: #2f2f5a;
    --p-error-main: #ed3a37;
    --p-error-shade: #bf2b2b;
    --p-error-tint: #f46360;
    --p-error-low: #fee9e8;
    --p-error-low-shade: var(--p-undefined);
    --p-error-contrast: #ffffff;
    --p-error-outline-border: #fececc;
    --p-warning-main: #dea722;
    --p-warning-shade: #c8931e;
    --p-warning-tint: #f4c449;
    --p-warning-low: #fff5d2;
    --p-warning-low-shade: var(--p-undefined);
    --p-warning-contrast: #ffffff;
    --p-warning-outline-border: #f7e199;
    --p-success-main: #32b375;
    --p-success-shade: #247951;
    --p-success-tint: #4bc88e;
    --p-success-low: #d8ffef;
    --p-success-low-shade: var(--p-undefined);
    --p-success-contrast: #ffffff;
    --p-success-outline-border: #b4f1d6;
    --p-info-main: #1588f2;
    --p-info-shade: #0869c2;
    --p-info-tint: #46b0fd;
    --p-info-low: #f0f3fa;
    --p-info-low-shade: var(--p-undefined);
    --p-info-contrast: #ffffff;
    --p-info-outline-border: #86c7f5;
    --p-disabled-main: var(--p-gray-scale-100);
    --p-disabled-shade: var(--p-undefined);
    --p-disabled-tint: var(--p-undefined);
    --p-disabled-low: var(--p-undefined);
    --p-disabled-low-shade: var(--p-undefined);
    --p-disabled-contrast: var(--p-gray-scale-400);
    --p-disabled-outline-border: var(--p-undefined);
    --p-disabled-button-main: #e3eafd;
    --p-disabled-button-shade: var(--p-undefined);
    --p-disabled-button-tint: var(--p-undefined);
    --p-disabled-button-low: var(--p-undefined);
    --p-disabled-button-low-shade: var(--p-undefined);
    --p-disabled-button-contrast: #95a8c5;
    --p-disabled-button-outline-border: var(--p-undefined);
    --p-basic-0: #000000;
    --p-gray-scale-50: #0a0e25;
    --p-gray-scale-100: #191932;
    --p-gray-scale-200: #1f1f42;
    --p-gray-scale-300: #2f2f5a;
    --p-gray-scale-400: #434766;
    --p-gray-scale-500: #5a5d74;
    --p-gray-scale-700: #c2c3ce;
    --p-gray-scale-900: #f3f4f7;
    --p-basic-1000: #ffffff;
    --p-delete: var(--p-error-main);
    --p-complement: #784aff;
    --p-text-primary: rgba(255, 255, 255, 1);
    --p-text-secondary: rgba(194, 195, 206, 1);
    --p-text-disabled: #5a5d74;
    --p-text-primary-main: rgba(0, 0, 0, 0.38);
    --p-text-delete: var(--p-delete);
  }
}
