.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
}

.primary {
  background-color: var(--p-primary-main);
  color: var(--p-primary-contrast);

  &:hover {
    background-color: var(--p-primary-tint);
  }

  &:active {
    background-color: var(--p-primary-shade);
  }
}

.text-black {
  color: var(--p-text-primary);

  &:hover {
    background-color: var(--p-secondary-low);
  }

  &:active {
    background-color: var(--p-gray-scale-200);
  }
}

.md {
  height: 40px;
  padding-inline: 16px;
}